<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>UTExportedTypeDeclarations</key>
  <array>
    <dict>
      <key>UTTypeIdentifier</key>
      <string>dev.editorbridge.dotfile</string>
      <key>UTTypeDescription</key>
      <string>Developer Dotfile</string>
      <key>UTTypeConformsTo</key>
      <array>
        <string>public.plain-text</string>
      </array>
      <key>UTTypeTagSpecification</key>
      <dict>
        <key>public.filename-extension</key>
        <array>
          <string>bazelrc</string>
          <string>bazelversion</string>
          <string>bazelignore</string>
          <string>editorconfig</string>
          <string>env</string>
          <string>gitignore</string>
          <string>gitattributes</string>
          <string>npmrc</string>
          <string>nvmrc</string>
          <string>tool-versions</string>
          <string>zshrc</string>
          <string>zprofile</string>
          <string>bashrc</string>
          <string>bash_profile</string>
        </array>
      </dict>
    </dict>
    <dict>
      <key>UTTypeIdentifier</key>
      <string>dev.editorbridge.typescript</string>
      <key>UTTypeDescription</key>
      <string>TypeScript Source</string>
      <key>UTTypeConformsTo</key>
      <array>
        <string>public.source-code</string>
        <string>public.plain-text</string>
      </array>
      <key>UTTypeTagSpecification</key>
      <dict>
        <key>public.filename-extension</key>
        <array>
          <string>ts</string>
          <string>tsx</string>
        </array>
      </dict>
    </dict>
  </array>
  <key>CFBundleDocumentTypes</key>
  <array>
    <dict>
      <key>CFBundleTypeName</key>
      <string>Developer Files</string>
      <key>CFBundleTypeRole</key>
      <string>Viewer</string>
      <key>LSHandlerRank</key>
      <string>Owner</string>
      <key>LSItemContentTypes</key>
      <array>
        <string>dev.editorbridge.dotfile</string>
        <string>dev.editorbridge.typescript</string>
      </array>
    </dict>
  </array>
</dict>
</plist>
